.decoration-none{
    text-decoration: none;
}

.text-cart{
    display: none;
    background-color: red;
    color: white;
    padding: 0.125em;
    font-size: 8pt;
    border-radius: 2em;
    position: relative;
    right: 25%;
    bottom: -35%;
}
.cart-modal{
    display: none;
    width: 400px;
    height:200px;
    position: absolute;
    right: 2%;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.cart-image{
    max-width: 60px;
}
.modal-header-cart{
    border-bottom: 1px solid #c5c5c5;
}